.button {
    background-color: transparent;
    padding: 8px;
    min-width: 100px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 2px solid var(--clr-primary);
    color: var(--clr-text);
    cursor: pointer;
    transition: var(--transition-theme);
}

.button:active {
    animation: 0.2s press ease-in-out;
}

@keyframes press {
    0% {
        scale: 1;
    }

    50% {
        scale: 0.95
    }

    100% {
        scale: 1
    }
}