* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  margin: 0;
}

:root {
  --transition-theme: background-color 0.5s ease-in-out,
    color 0.5s ease-in-out,
    border 0.5s ease-in-out;
}

.App {
  background-color: var(--clr-background);
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  transition: var(--transition-theme);
}